.container-nav2 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    padding: 15px 35px; 
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out; 
}

.container-nav2.scrolled {
    background-color: rgba(34, 34, 34, 0.9);
    padding: 10px 15px; 
}

.logo-nav2{
    font-size: 24px;
    color: black;
    -webkit-text-stroke: 0.1px white;
    cursor: default;
}
.links-nav2 a{
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 13px;
    transition: 0.2s;
    color: black;
    -webkit-text-stroke: 0.1px white;
    cursor: pointer;

}

.links-nav2 a:hover{
    color: white;
}