.container-nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #000000;
    padding: 10px;


}

.logo-nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav1-logoo{
    font-size: 24px;
    color: black;
    -webkit-text-stroke: 1px white;
    cursor: default;
}